openapi: 3.2.0
info:
  title: Ceros Experience API
  contact:
    name: Ceros Developer Docs
    url: https://developers.ceros.com/
  version: '1.0'
  description: 'Operations tagged experience across 2 of this provider''s published API definitions: ceros-public-api-2026-02-25-openapi.yml, ceros-public-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rest.ceros.com
  description: Production server
security:
- bearerAuth: []
tags:
- name: experience
paths:
  /folder/{folderResourceId}/experiences:
    servers:
    - url: https://rest.ceros.com
      description: Production server
    get:
      tags:
      - experience
      parameters:
      - name: folderResourceId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        content:
          application/json:
            schema:
              type: number
      - name: pageSize
        in: query
        content:
          application/json:
            schema:
              type: number
      - name: search
        in: query
        content:
          application/json:
            schema:
              type: string
      - name: sort
        in: query
        content:
          application/json:
            schema:
              type: string
      - name: offset
        in: query
        content:
          application/json:
            schema:
              type: number
      operationId: listFolderExperiences
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  self:
                    type: string
                  resourceType:
                    type: string
                  paging:
                    type: object
                    properties:
                      total:
                        type: number
                      page:
                        type: number
                      pages:
                        type: number
                      pageSize:
                        type: number
                      previous:
                        type: string
                      next:
                        type: string
                    required:
                    - total
                    - page
                    - pages
                    - pageSize
                    additionalProperties: false
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        legacyId: {}
                        name:
                          type: string
                        slug:
                          type: string
                        resourceId:
                          type: string
                        experienceAlias:
                          type: string
                        folderResourceId:
                          type: string
                        creationDate:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        status:
                          type: string
                          enum:
                          - published
                          - draft
                          - deleted
                          - unpublished
                        lastModifiedDate:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        firstPublishedDate:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        lastPublishedDate:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        isFlexExperience:
                          type: boolean
                        isPasswordProtected:
                          type: boolean
                        isSSOProtected:
                          type: boolean
                        isTemplate:
                          type: boolean
                        thumbnailUrl:
                          type: string
                        createdByMemberId:
                          type: number
                        templateThumbnailUrl:
                          anyOf:
                          - type: string
                          - type: 'null'
                        importLinkShared:
                          type: boolean
                        isShowcaseExperience:
                          type: boolean
                        partner:
                          anyOf:
                          - type: string
                          - type: 'null'
                        partnerResourceId:
                          anyOf:
                          - type: object
                            properties:
                              resourceId:
                                type: string
                              tenant:
                                type: string
                              teamsiteId:
                                type: string
                            required:
                            - resourceId
                            - tenant
                            additionalProperties: false
                          - type: 'null'
                        wipDocVersion:
                          type: object
                          properties:
                            adminEditable:
                              type: boolean
                            textComponentType:
                              type: string
                              enum:
                              - old_text
                              - text_plus
                            editorPublishingDisabled:
                              type: boolean
                          required:
                          - adminEditable
                          - textComponentType
                          - editorPublishingDisabled
                          additionalProperties: false
                        publishedDocVersion:
                          type: object
                          properties:
                            slug:
                              type: string
                          required:
                          - slug
                          additionalProperties: false
                        updatedBy:
                          type: array
                          items:
                            type: object
                            properties:
                              memberId:
                                type: number
                              memberName:
                                type: string
                              timestamp:
                                type: string
                            required:
                            - memberId
                            - memberName
                            - timestamp
                            additionalProperties: false
                        publishHistory:
                          type: array
                          items:
                            type: object
                            properties:
                              memberId:
                                type: number
                              memberName:
                                type: string
                              status:
                                type: string
                                enum:
                                - published
                                - unpublished
                              timestamp:
                                type: string
                            required:
                            - memberId
                            - memberName
                            - status
                            - timestamp
                            additionalProperties: false
                      required:
                      - legacyId
                      - resourceId
                      - experienceAlias
                      - folderResourceId
                      - creationDate
                      - status
                      - isFlexExperience
                      - isPasswordProtected
                      - isSSOProtected
                      - isTemplate
                      - createdByMemberId
                      - templateThumbnailUrl
                      - importLinkShared
                      - isShowcaseExperience
                      - partner
                      - partnerResourceId
                      - updatedBy
                      - publishHistory
                      additionalProperties: false
                required:
                - self
                - resourceType
                - paging
                - data
                additionalProperties: false
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        cause:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                              expected:
                                type: string
                              message:
                                type: string
                              path:
                                type: array
                                items:
                                  type: string
                              received:
                                type: string
                            required:
                            - code
                            - expected
                            - message
                            - path
                            - received
                            additionalProperties: false
                      required:
                      - message
                      additionalProperties: false
                required:
                - errors
                additionalProperties: false
        '401':
          description: '401'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
      description: listFolderExperiences
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API_KEY
      description: API Key authentication using Bearer token format
x-refined-from:
- ceros-public-api-2026-02-25-openapi.yml
- ceros-public-api-openapi.yml
