openapi: 3.2.0
info:
  title: Ceros Public Experience Page API
  version: 2026-02-25-12-00
  description: Public API documentation for external integrations. Requires API key authentication.
  contact:
    name: Ceros Developer Docs
    url: https://developers.ceros.com/
  x-source: Reconstructed verbatim from the OpenAPI operation objects Ceros publishes in its own developer documentation payloads at developers.ceros.com; Ceros does not serve a downloadable spec file.
  x-evidence:
    fetched: '2026-08-09'
    docs_url: https://developers.ceros.com/api/public/2026-02-25-12-00/ceros-public-api
    http_status: 200
    api_host_probe:
      url: https://rest.ceros.com/accounts/current-account
      http_status: 401
      body: '{"message":"UNAUTHORIZED"}'
servers:
- url: https://rest.ceros.com
  description: Production server
security:
- bearerAuth: []
tags:
- name: experiencePage
paths:
  /experiences/{experienceResourceId}/pages:
    get:
      tags:
      - experiencePage
      parameters:
      - name: experienceResourceId
        in: path
        required: true
        schema:
          type: string
      operationId: getAllExperiencePages
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        pageId:
                          type: string
                        slug:
                          type: string
                        label:
                          type: string
                      required:
                      - pageId
                      - slug
                      - label
                      additionalProperties: false
                required:
                - data
                additionalProperties: false
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        cause:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                              expected:
                                type: string
                              message:
                                type: string
                              path:
                                type: array
                                items:
                                  type: string
                              received:
                                type: string
                            required:
                            - code
                            - expected
                            - message
                            - path
                            - received
                            additionalProperties: false
                      required:
                      - message
                      additionalProperties: false
                required:
                - errors
                additionalProperties: false
        '401':
          description: '401'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
      description: getAllExperiencePages
      security:
      - bearerAuth: []
    post:
      tags:
      - experiencePage
      parameters:
      - name: experienceResourceId
        in: path
        required: true
        schema:
          type: string
      operationId: createPage
      requestBody:
        description: Body
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                slug:
                  type: string
                title:
                  type: string
                afterPageId:
                  type: string
                currentPageId:
                  type: string
                width:
                  type: string
                height:
                  type: string
                minHeight:
                  type: string
                sourceBreakpoints:
                  type: array
                  items:
                    type: object
                    properties:
                      breakpoint:
                        type: object
                        propertyNames:
                          type: string
                        additionalProperties:
                          type: string
                      variant:
                        type: object
                        propertyNames:
                          type: string
                        additionalProperties:
                          type: string
                    required:
                    - breakpoint
                    additionalProperties: false
                templateId:
                  type: string
              required:
              - title
              additionalProperties: false
      responses:
        '201':
          description: '201'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  pageId:
                    type: string
                  slug:
                    type: string
                  label:
                    type: string
                required:
                - pageId
                - slug
                - label
                additionalProperties: false
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        cause:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                              expected:
                                type: string
                              message:
                                type: string
                              path:
                                type: array
                                items:
                                  type: string
                              received:
                                type: string
                            required:
                            - code
                            - expected
                            - message
                            - path
                            - received
                            additionalProperties: false
                      required:
                      - message
                      additionalProperties: false
                required:
                - errors
                additionalProperties: false
        '401':
          description: '401'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
      description: createPage
      security:
      - bearerAuth: []
      jsonRequestBodyExample:
        slug: string
        title: string
        afterPageId: string
        currentPageId: string
        width: string
        height: string
        minHeight: string
        sourceBreakpoints:
        - breakpoint: {}
          variant: {}
        templateId: string
  /experiences/{experienceResourceId}/pages/{pageId}:
    delete:
      tags:
      - experiencePage
      parameters:
      - name: experienceResourceId
        in: path
        required: true
        schema:
          type: string
      - name: pageId
        in: path
        required: true
        schema:
          type: string
      operationId: deletePage
      responses:
        '204':
          description: '204'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties: {}
                additionalProperties: false
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        cause:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                              expected:
                                type: string
                              message:
                                type: string
                              path:
                                type: array
                                items:
                                  type: string
                              received:
                                type: string
                            required:
                            - code
                            - expected
                            - message
                            - path
                            - received
                            additionalProperties: false
                      required:
                      - message
                      additionalProperties: false
                required:
                - errors
                additionalProperties: false
        '401':
          description: '401'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
      description: deletePage
      security:
      - bearerAuth: []
  /experiences/{experienceResourceId}/pages/{pageId}/apply-template:
    post:
      tags:
      - experiencePage
      parameters:
      - name: experienceResourceId
        in: path
        required: true
        schema:
          type: string
      - name: pageId
        in: path
        required: true
        schema:
          type: string
      operationId: applyPageTemplate
      requestBody:
        description: Body
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                templateId:
                  type: string
                sourceBreakpoints:
                  type: array
                  items:
                    type: object
                    properties:
                      breakpoint:
                        type: object
                        propertyNames:
                          type: string
                        additionalProperties:
                          type: string
                      variant:
                        type: object
                        propertyNames:
                          type: string
                        additionalProperties:
                          type: string
                    required:
                    - breakpoint
                    additionalProperties: false
              required:
              - templateId
              additionalProperties: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  pageId:
                    type: string
                  slug:
                    type: string
                  label:
                    type: string
                required:
                - pageId
                - slug
                - label
                additionalProperties: false
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        cause:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                              expected:
                                type: string
                              message:
                                type: string
                              path:
                                type: array
                                items:
                                  type: string
                              received:
                                type: string
                            required:
                            - code
                            - expected
                            - message
                            - path
                            - received
                            additionalProperties: false
                      required:
                      - message
                      additionalProperties: false
                required:
                - errors
                additionalProperties: false
        '401':
          description: '401'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
      description: applyPageTemplate
      security:
      - bearerAuth: []
      jsonRequestBodyExample:
        templateId: string
        sourceBreakpoints:
        - breakpoint: {}
          variant: {}
  /experiences/{experienceResourceId}/pages/{pageId}/batch-update:
    post:
      tags:
      - experiencePage
      parameters:
      - name: experienceResourceId
        in: path
        required: true
        schema:
          type: string
      - name: pageId
        in: path
        required: true
        schema:
          type: string
      operationId: batchUpdatePage
      requestBody:
        description: Body
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                updates:
                  minItems: 1
                  maxItems: 10
                  type: array
                  items:
                    anyOf:
                    - type: object
                      properties:
                        operation:
                          type: string
                          const: update_existing_cml_element
                        elementId:
                          type: string
                          minLength: 1
                        propertiesToUpdate:
                          minItems: 1
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                minLength: 1
                              value:
                                type: string
                            required:
                            - name
                            - value
                            additionalProperties: false
                      required:
                      - operation
                      - elementId
                      - propertiesToUpdate
                      additionalProperties: false
                    - type: object
                      properties:
                        operation:
                          type: string
                          const: set_inner_html_content
                        elementId:
                          type: string
                          minLength: 1
                        innerHTML:
                          type: string
                      required:
                      - operation
                      - elementId
                      - innerHTML
                      additionalProperties: false
                    - type: object
                      properties:
                        operation:
                          type: string
                          const: add_cml
                        cml:
                          type: string
                          minLength: 1
                        label:
                          type: string
                        parentId:
                          type: string
                      required:
                      - operation
                      - cml
                      additionalProperties: false
                    - type: object
                      properties:
                        operation:
                          type: string
                          const: append_cml
                        cml:
                          type: string
                          minLength: 1
                        label:
                          type: string
                        elementId:
                          type: string
                          minLength: 1
                        placement:
                          type: string
                          enum:
                          - before
                          - after
                      required:
                      - operation
                      - cml
                      - elementId
                      - placement
                      additionalProperties: false
                    - type: object
                      properties:
                        operation:
                          type: string
                          const: move_cml_element
                        elementId:
                          type: string
                          minLength: 1
                        targetElementId:
                          type: string
                          minLength: 1
                        placement:
                          type: string
                          enum:
                          - before
                          - after
                          - child
                      required:
                      - operation
                      - elementId
                      - targetElementId
                      - placement
                      additionalProperties: false
                    - type: object
                      properties:
                        operation:
                          type: string
                          const: delete_cml_element
                        elementId:
                          type: string
                          minLength: 1
                      required:
                      - operation
                      - elementId
                      additionalProperties: false
              required:
              - updates
              additionalProperties: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  hasErrors:
                    type: boolean
                  rolledBack:
                    type: boolean
                  results:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        properties:
                          error:
                            type: boolean
                            const: false
                          index:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          updatedCmlIds:
                            default: []
                            type: array
                            items:
                              type: string
                        required:
                        - error
                        - index
                        - updatedCmlIds
                        additionalProperties: false
                      - type: object
                        properties:
                          error:
                            type: boolean
                            const: true
                          index:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          errorCode:
                            type: string
                            enum:
                            - element_not_found
                            - parent_not_found
                            - invalid_cml
                            - invalid_attribute
                            - unsupported_operation
                            - conflict_in_batch
                            - unknown_error
                          errorMessage:
                            type: string
                            minLength: 1
                          updatedCmlIds:
                            default: []
                            type: array
                            items:
                              type: string
                        required:
                        - error
                        - index
                        - errorCode
                        - errorMessage
                        - updatedCmlIds
                        additionalProperties: false
                required:
                - hasErrors
                - rolledBack
                - results
                additionalProperties: false
        '400':
          description: '400'
        '401':
          description: '401'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
      description: batchUpdatePage
      security:
      - bearerAuth: []
      jsonRequestBodyExample:
        updates:
        - operation: update_existing_cml_element
          elementId: string
          propertiesToUpdate:
          - name: string
            value: string
        - operation: set_inner_html_content
          elementId: string
          innerHTML: string
        - operation: add_cml
          cml: string
          label: string
          parentId: string
        - operation: append_cml
          cml: string
          label: string
          elementId: string
          placement: before
        - operation: move_cml_element
          elementId: string
          targetElementId: string
          placement: before
        - operation: delete_cml_element
          elementId: string
  /experiences/{experienceResourceId}/pages/{pageId}/cml-for-selector:
    get:
      tags:
      - experiencePage
      parameters:
      - name: experienceResourceId
        in: path
        required: true
        schema:
          type: string
      - name: pageId
        in: path
        required: true
        schema:
          type: string
      - name: selector
        in: query
        required: true
        content:
          application/json:
            schema:
              type: string
              minLength: 1
      operationId: getCmlForSelector
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  cml:
                    type: array
                    items:
                      type: string
                required:
                - cml
                additionalProperties: false
        '400':
          description: '400'
        '401':
          description: '401'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
      description: getCmlForSelector
      security:
      - bearerAuth: []
  /experiences/{experienceResourceId}/pages/{pageId}/duplicate:
    post:
      tags:
      - experiencePage
      parameters:
      - name: experienceResourceId
        in: path
        required: true
        schema:
          type: string
      - name: pageId
        in: path
        required: true
        schema:
          type: string
      operationId: duplicatePage
      requestBody:
        description: Body
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                newSlug:
                  type: string
                newTitle:
                  type: string
              required:
              - newSlug
              - newTitle
              additionalProperties: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  pageId:
                    type: string
                  slug:
                    type: string
                  label:
                    type: string
                required:
                - pageId
                - slug
                - label
                additionalProperties: false
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        cause:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                              expected:
                                type: string
                              message:
                                type: string
                              path:
                                type: array
                                items:
                                  type: string
                              received:
                                type: string
                            required:
                            - code
                            - expected
                            - message
                            - path
                            - received
                            additionalProperties: false
                      required:
                      - message
                      additionalProperties: false
                required:
                - errors
                additionalProperties: false
        '401':
          description: '401'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
      description: duplicatePage
      security:
      - bearerAuth: []
      jsonRequestBodyExample:
        newSlug: string
        newTitle: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API_KEY
      description: API Key authentication using Bearer token format
