openapi: 3.2.0
info:
  title: Ceros Folders API
  contact:
    name: Ceros Developer Docs
    url: https://developers.ceros.com/
  version: '1.0'
  description: 'Operations tagged folders across 2 of this provider''s published API definitions: ceros-public-api-2026-02-25-openapi.yml, ceros-public-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rest.ceros.com
  description: Production server
security:
- bearerAuth: []
tags:
- name: folders
paths:
  /accounts/{accountResourceId}/folder-tree:
    servers:
    - url: https://rest.ceros.com
      description: Production server
    get:
      tags:
      - folders
      parameters:
      - name: accountResourceId
        in: path
        required: true
        schema:
          type: string
      - name: expand
        in: query
        content:
          application/json:
            schema:
              type: string
      - name: folder
        in: query
        content:
          application/json:
            schema:
              type: string
      - name: depth
        in: query
        required: true
        content:
          application/json:
            schema:
              default: 2
              type: integer
              minimum: 0
              maximum: 9007199254740991
      operationId: getFolderTree
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                TypeId: 801a8de1-d3e2-4225-b2c5-e3fcf9955183
                type: object
                properties:
                  resources:
                    type: array
                    items:
                      type: object
                      properties:
                        self:
                          type: string
                        resourceType:
                          type: string
                          const: folder
                        resourceId:
                          type: string
                        legacyId: {}
                        accountLegacyId: {}
                        accountResourceId:
                          type: string
                        accountSlug:
                          type: string
                        createdByMemberId: {}
                        createdByMemberName:
                          anyOf:
                          - type: string
                          - type: 'null'
                        creationDate:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        deletionDate:
                          anyOf:
                          - type: string
                            format: date-time
                            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                          - type: 'null'
                        parentResourceId:
                          type: string
                        parentLegacyId: {}
                        parentSlug:
                          anyOf:
                          - type: string
                          - type: 'null'
                        parentName:
                          anyOf:
                          - type: string
                          - type: 'null'
                        isAncestorDeleted:
                          type: boolean
                        lastModifiedByMemberId: {}
                        lastModifiedByMemberName:
                          anyOf:
                          - type: string
                          - type: 'null'
                        lastModifiedDate:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        slug:
                          type: string
                        status:
                          type: string
                        thumbnailUrl:
                          anyOf:
                          - type: string
                          - type: 'null'
                        name:
                          type: string
                        isFlexFolder:
                          type: boolean
                        ancestors:
                          type: array
                          items:
                            type: object
                            properties:
                              resourceId:
                                type: string
                              legacyId: {}
                              name:
                                type: string
                              slug:
                                type: string
                            required:
                            - resourceId
                            - legacyId
                            - name
                            - slug
                            additionalProperties: false
                        thumbnails:
                          type: object
                          propertyNames:
                            type: string
                          additionalProperties:
                            type: object
                            properties:
                              url:
                                type: string
                              isFlexExperience:
                                type: boolean
                            required:
                            - url
                            - isFlexExperience
                            additionalProperties: false
                        updatedBy:
                          type: array
                          items:
                            type: object
                            properties:
                              folderResourceId:
                                type: string
                              folderLegacyId:
                                type: string
                              memberLegacyId: {}
                              memberResourceId:
                                type: string
                              memberName:
                                anyOf:
                                - type: string
                                - type: 'null'
                              timestamp:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                            required:
                            - folderResourceId
                            - folderLegacyId
                            - memberLegacyId
                            - memberResourceId
                            - memberName
                            - timestamp
                            additionalProperties: false
                        legacyExperienceCount:
                          type: number
                        flexExperienceCount:
                          type: number
                        experiences:
                          type: object
                          properties:
                            count:
                              type: number
                            self:
                              type: string
                            resources:
                              type: array
                              items:
                                type: object
                                properties:
                                  resourceId:
                                    type: string
                                  legacyId: {}
                                  name:
                                    type: string
                                  slug:
                                    type: string
                                  status:
                                    type: string
                                    enum:
                                    - published
                                    - draft
                                    - deleted
                                    - unpublished
                                  thumbnailUrl:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                  isFlexExperience:
                                    type: boolean
                                  primaryAliasSlug:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                  lastModifiedDate:
                                    anyOf:
                                    - type: string
                                      format: date-time
                                      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                                    - type: 'null'
                                  lastModifiedByMemberResourceId:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                  lastModifiedByMemberName:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                  publishHistory:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        memberResourceId:
                                          type: string
                                        memberName:
                                          type: string
                                        status:
                                          type: string
                                        timestamp:
                                          type: string
                                          format: date-time
                                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                                      required:
                                      - memberResourceId
                                      - memberName
                                      - status
                                      - timestamp
                                      additionalProperties: false
                                  ancestors:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        resourceId:
                                          type: string
                                        legacyId: {}
                                        name:
                                          type: string
                                        slug:
                                          type: string
                                      required:
                                      - resourceId
                                      - legacyId
                                      - name
                                      - slug
                                      additionalProperties: false
                                required:
                                - resourceId
                                - legacyId
                                - name
                                - slug
                                - status
                                - thumbnailUrl
                                - isFlexExperience
                                - primaryAliasSlug
                                - lastModifiedDate
                                - lastModifiedByMemberResourceId
                                - lastModifiedByMemberName
                                - publishHistory
                                - ancestors
                                additionalProperties: false
                          required:
                          - count
                          - self
                          - resources
                          additionalProperties: false
                        members:
                          type: object
                          properties:
                            count:
                              type: number
                            self:
                              type: string
                            resources:
                              type: array
                              items:
                                type: object
                                properties:
                                  id: {}
                                  memberId: {}
                                  memberName:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                  role:
                                    type: string
                                  joinDate:
                                    type: string
                                    format: date-time
                                    pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                                required:
                                - id
                                - memberId
                                - memberName
                                - role
                                - joinDate
                                additionalProperties: false
                          required:
                          - count
                          - self
                          additionalProperties: false
                        children:
                          type: array
                          items: circular(Def0___schema0)
                      required:
                      - self
                      - resourceId
                      - legacyId
                      - deletionDate
                      - parentLegacyId
                      - name
                      additionalProperties: false
                      title: Def0___schema0
                  count:
                    type: number
                  resourceType:
                    type: string
                    const: folder
                required:
                - resources
                - count
                - resourceType
                additionalProperties: false
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        cause:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                              expected:
                                type: string
                              message:
                                type: string
                              path:
                                type: array
                                items:
                                  type: string
                              received:
                                type: string
                            required:
                            - code
                            - expected
                            - message
                            - path
                            - received
                            additionalProperties: false
                      required:
                      - message
                      additionalProperties: false
                required:
                - errors
                additionalProperties: false
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        cause:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                              expected:
                                type: string
                              message:
                                type: string
                              path:
                                type: array
                                items:
                                  type: string
                              received:
                                type: string
                            required:
                            - code
                            - expected
                            - message
                            - path
                            - received
                            additionalProperties: false
                      required:
                      - message
                      additionalProperties: false
                required:
                - errors
                additionalProperties: false
      description: getFolderTree
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API_KEY
      description: API Key authentication using Bearer token format
x-refined-from:
- ceros-public-api-2026-02-25-openapi.yml
- ceros-public-api-openapi.yml
