openapi: 3.2.0
info:
  title: Ceros Public Embed Codes API
  version: 2026-02-25-12-00
  description: Public API documentation for external integrations. Requires API key authentication.
  contact:
    name: Ceros Developer Docs
    url: https://developers.ceros.com/
  x-source: Reconstructed verbatim from the OpenAPI operation objects Ceros publishes in its own developer documentation payloads at developers.ceros.com; Ceros does not serve a downloadable spec file.
  x-evidence:
    fetched: '2026-08-09'
    docs_url: https://developers.ceros.com/api/public/2026-02-25-12-00/ceros-public-api
    http_status: 200
    api_host_probe:
      url: https://rest.ceros.com/accounts/current-account
      http_status: 401
      body: '{"message":"UNAUTHORIZED"}'
servers:
- url: https://rest.ceros.com
  description: Production server
security:
- bearerAuth: []
tags:
- name: embedCodes
paths:
  /experiences/{experienceResourceId}/embed-codes:
    get:
      tags:
      - embedCodes
      parameters:
      - name: experienceResourceId
        in: path
        required: true
        schema:
          type: string
      - name: isExport
        in: query
        required: true
        content:
          application/json:
            schema:
              default: false
              type: boolean
      operationId: getEmbedCodes
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  viewUrl:
                    type: string
                  assetBaseUrl:
                    type: string
                  title:
                    type: string
                  experienceAlias:
                    type: string
                  isPageOverHeightHomogeneous:
                    type: boolean
                  fullHeightEmbedCode:
                    type: string
                  scrollableEmbedCode:
                    type: string
                  inlineEmbedCode:
                    type: string
                required:
                - viewUrl
                - assetBaseUrl
                - title
                - experienceAlias
                - isPageOverHeightHomogeneous
                additionalProperties: false
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        cause:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                              expected:
                                type: string
                              message:
                                type: string
                              path:
                                type: array
                                items:
                                  type: string
                              received:
                                type: string
                            required:
                            - code
                            - expected
                            - message
                            - path
                            - received
                            additionalProperties: false
                      required:
                      - message
                      additionalProperties: false
                required:
                - errors
                additionalProperties: false
      description: getEmbedCodes
      security:
      - bearerAuth: []
      summary: Get embed codes
      x-summary-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API_KEY
      description: API Key authentication using Bearer token format
